.calendar {
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 600px;
  margin: auto;
}

.calendar .header {
  background-color: var(--light-blue);
  text-align: center;
  min-height: 2rem;
  line-height: 2rem;
  color: var(--black);
  font-family: var(--font-book);
  font-weight: 700;
  /* display: flex; */
}

.calendar .day-names {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
}

.calendar .body {
  border: 1px solid var(--light-blue);
}

.calendar .header .previous {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
}

.calendar .header .next {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}

/* .calendar .header .previousYear {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
}

.calendar .header .nextYear {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
} */

#monthStyle {
  float: left;
}

.calendar .week {
  background-color: white;
  width: calc(100% / 7);
  height: 44px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 400;
}
.calendar .week div {
  width: 100%;
}

.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 50px;
  display: inline-block;
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
  border: 1px solid;
}

.calendar .day div {
  width: 80px;
  height: 44px;
  position: relative;
  color: var(--black);
  z-index: 100;
  line-height: 44px;
}

.calendar .day div.before {
  color: var(--grey);
}

.calendar .day div.selected {
  background-color: var(--red);
  color: var(--white);
  font-weight: bold;
}

.calendar .day div.today {
  background-color: var(--grey);
}

.calendar .scheduled {
  background-color: yellow;
}

form {
  background: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 400px;
  border: 1px solid;
  margin-bottom: 10px;
  margin-left: 10px;
}

form .field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form label {
  text-align: right;
  padding: 6px;
}

form input,
form select {
  margin: 4px 0;
  padding: 6px;
  box-sizing: border-box;
}

form button {
  color: #fff;
  font-size: 2em;
  background: #16ac16;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#buttonRemove {
  color: #fff;
  font-size: 2em;
  background: #9e0f4d;
  border: 0;
  padding: 0 10px;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  bottom: -12px;
  left: 80px;
}

#buttonReset {
  color: #fff;
  font-size: 2em;
  background: #2c3cd4;
  border: 0;
  padding: 0 10px;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  bottom: -12px;
  left: 140px;
}
